html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

/*
    Navigation
*/

.topnavbackground {
    background-color: #FFFFFF;
    width: 100%;
    border-bottom: 8px solid #611D6A;
}

.topnavbar {
    width: 65%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.secondTopNav{
    position:absolute;
    top:5px;
    right:10px;
}

.topnavbar a {
    color: #611D6A;
    text-decoration: none;
    font-size: 1em;
    margin-left: 30px;
}

.topnavbar a:hover {
    color: #CD7097;
}

.topnavbar span {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    font-weight: 900;
    color: #611D6A;
}

.topnavbar span:hover {
    color: #FFB200;
}

/*
    Header
*/

.headerbackground {
    width: 100%;
    height: 250px;
    background-image: url("images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border-bottom: 15px solid #611D6A;
}

.headerbar {
    width: 65%;
    margin: auto;
    text-align: right;
}

.headerbar h1, .headerbar h2 {
    font-family: 'Lato', sans-serif;
}

.headerbar h1 {
    font-size: 4em;
    margin-bottom: 0px;
    color: #FFB200;
}

.headerbar h2 {
    font-size: 2em;
    margin-top: 0px;
    color: #FFFFFF;
}

/*
    Content
*/

.content {
    width: 65%;
    margin: auto;
    padding-top: 30px;
}

.content h1 {
    margin-bottom: 0px;
    color: #611D6A;
    font-size: 1.6em;
    font-weight: 100;
    text-transform: uppercase;
}

.content h2 {
    margin-top: 0px;
    margin-bottom: 50px;
    color: #CD7097;
    font-size: 1em;
    font-weight: 100;
}

.content a {
    color: #611D6A;
    text-decoration: none;
    font-weight: 600;
}

.content a:hover {
    color: #FFB200;
}

.italicised {
    font-style: italic;
}

.error {
    color: red;
    font-weight: bold;
}

/*
    Footer
*/

.footerpusher {
    flex: 1 0 auto;
    margin-bottom: 50px;
}

.footerbackground {
    flex-shrink: 0;
    background-color: #611D6A;
    width: 100%;
}

.footerbar {
    width: 65%;
    margin: auto;
    text-align: right;
}

.socialicons {
    font-size: 2em;
    margin: 30px 0px 30px 30px;
    color: #ffffff;
}

.socialicons:hover {
    color: #FFB200;
}

/*
    Index
*/

.column {
    width: 30%;
    float: left;
    margin-right: 3%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.kwaliteit {
    font-size: 10vw;
    color: #FFB200;
    transition: transform 0.6s;
}

.kwaliteit:hover {
    transform: scale(1.15);
}

.milieu {
    font-size: 10vw;
    color: green;
    transition: transform 0.6s;
}

.milieu:hover {
    transform: scale(1.15);
}

.mobiel {
    font-size: 10vw;
    color: darkblue;
    transition: transform 0.6s;
}

.mobiel:hover {
    transform: scale(1.15);
}

.centerImage {
    text-align: center;
}

.center {
    text-align: center;
}

/*
    About us
*/

.aboutPic {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin-bottom: 10px;
    opacity: 0.8;
    filter: drop-shadow(8px 8px 10px gray);
    transition: transform 0.6s;
}

.aboutPic:hover {
    opacity: 1.0;
    transform: scale(1.15);
}

/*
    Contact
*/

.form {
    width: 60%;
    float: left;
}

.form img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-top: 25px;
}

input[type=text],input[type=password], textarea {
    font-family: 'Lato', sans-serif;
    background-color: #FFF2F7;
    width: 100%;
    padding: 14px;
    border: 2px solid #611D6A;
    border-radius: 6px;
    margin-bottom: 30px;
    margin-top: 5px;
    resize: vertical;
    box-sizing: border-box;
}

textarea {
    height: 200px;
}

input[type=submit] {
    background-color: #FFB200;
    padding: 15px 25px;
    border: 2px solid #611D6A;
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    color: #611D6A;
}

input[type=submit]:hover {
    background-color: #611D6A;
    color: white;
}

.info {
    width: calc(40% - 50px);
    float: left;
    margin-left: 50px;
    margin-bottom: 50px;
    padding-top: 15px;
}

#map {
    height: 300px;
    width: calc(40% - 50px);
    float: left;
    margin-left: 50px;
}

.select-search {
    width: 200px;
}

table {  
    color: #333;
    font-family: 'Lato', sans-serif;
    border-collapse: collapse;
    border-spacing: 0; 
    width: 100%;
}

td, th { border: 1px solid #CCC; height: 30px; }

th {  
    background: #F3F3F3;
    font-weight: bold;
}

td {  
    background: #FAFAFA;
    text-align: center;
}
