@font-face {
    font-family: modeka;
    src: url("Modeka.otf");
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
    margin: 0px;
    font-family: Helvetica, sans-serif;
}

/*
    Navigation
*/

.topnavbackground {
    background-color: #FFFFFF;
    width: 100%;
    border-bottom: 8px solid #611D6A;
}

.topnavbar {
    width: 65%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.topnavbar a {
    color: #611D6A;
    text-decoration: none;
    font-size: 1em;
    margin-left: 30px;
}

.topnavbar a:hover {
    color: #CD7097;
}

.topnavbar span {
    font-family: modeka;
    font-size: 2em;
    font-weight: 900;
    color: #611D6A;
}

.topnavbar span:hover {
    color: #FFB200;
}

/*
    Header
*/

.headerbackground {
    width: 100%;
    height: 250px;
    background-image: url("images/header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    overflow: hidden;
    border-bottom: 15px solid #611D6A;
}

.headerbar {
    width: 65%;
    margin: auto;
    text-align: right;
}

.headerbar h1, h2 {
    font-family: modeka;
}

.headerbar h1 {
    font-size: 5em;
    margin-bottom: 0px;
	color: #FFB200;
}

.headerbar h2 {
    font-size: 2em;
    margin-top: 0px;
	color: #FFFFFF;
}

/*
    Content
*/

.content {
    width: 65%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

/*
    Footer
*/

.footerpusher {
	flex: 1 0 auto;
}

.footerbackground {
	flex-shrink: 0;
    background-color: #611D6A;
    width: 100%;
}

.footerbar {
    width: 65%;
    margin: auto;
    text-align: right;
}

.socialicons {
    font-size: 2em;
    margin: 30px 0px 30px 30px;
    color: #ffffff;
}

.socialicons:hover {
    color: #FFB200;
}

/*
    Index
*/

.column {
    width: 33.33%;
    float: left;
}

.floatclear {
    clear: left;
}

.fa-mycustomx {
	font-size: 12.5em;
    color: #FFB200;
}

.centerImage {
	text-align: center;
}

/*
    Contact
*/

.form {
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=text], textarea {
    width: 100%;
    padding: 14px;
    border: 2px solid #333;
    border-radius: 6px;
    margin-bottom: 30px;
    resize: vertical;
    box-sizing: border-box;
}

textarea {
    height: 200px;
}

input[type=submit] {
    background-color: #ddd;
    padding: 14px;
    border: 2px solid #333;
    border-radius: 6px;
}

input[type=submit]:hover {
    background-color: #333;
    color: white;
}